
<div class="header-outer bg-black padding-top-xxl padding-bottom-s">
    <div class="header primary-container">
        <div>
            <h1 class="headline-1 padding-top-s">
                Hi, <br>
                I&rsquo;m <span class="color-secondary">Max</span> Budziat <br>
                Front End develop<span class="color-primary">e</span>r
            </h1>
            <div class="padding-top-m">
                <button class="button-green">
                    Contact me
                </button>
            </div>
        </div>
        <div class="img-max-outer">
            <img src="../../assets/img/max.png">
        </div>
    </div>
    <div class="arrow-container primary-container padding-top-m">
        <img src="../../assets/img/arrow-down.png">
    </div>
</div>


