
<div>
    <div class="footer primary-container padding-top-xl padding-bottom-xl">
        <div>
            <a class="paragraph" routerLink="/imprint">Imprint</a> &middot;
            <a class="paragraph" routerLink="/imprint">Privacy</a> &middot;
            <a class="paragraph" target="_blank" href="https://icons8.com/icon/SmqTe9GJoRqs/menu" >Menu</a><span class="paragraph"> icon by </span><a class="paragraph" target="_blank" href="https://icons8.com">Icons8</a>
        </div>
        <div>
            <a href="https://www.linkedin.com/in/maximilian-budziat-393b03231/" target="_blank"><img src="../../assets/img/linkedin-box-fill.png"></a>
        </div>
    </div>
</div>

