
<div>
    <div class="footer primary-container padding-top-xl padding-bottom-xl">
        <div>
            <a class="paragraph" href="/imprint/#imprint">Imprint</a> &middot;
            <a class="paragraph" href="/imprint/#privacy">Privacy</a>
        </div>
        <div>
            <a href="https://www.linkedin.com/in/maximilian-budziat-393b03231/" target="_blank"><img src="../../assets/img/linkedin-box-fill.png"></a>
        </div>
    </div>
</div>

<a target="_blank" href="https://icons8.com/icon/SmqTe9GJoRqs/menu" >Menu</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>