<div class="bg-grey" id="about">
    <div class="about-first-section padding-top-xl padding-bottom-xl primary-container">
        <div class="about-img-outer">
            <img src="../../assets/img/max.png">
        </div>
        <div>
            <h2 class="headline-2 padding-bottom-s">
                About me.
            </h2>
            <p class="paragraph">
                " I'm an ambitious programmer and I love <br>targeted project work with new challenges "
            </p>
        </div>
    </div>
    <div class="split-line primary-container">
        <div></div>
    </div>
    <div class="about-second-section padding-top-xxl padding-bottom-xxl primary-container">
        <div class="about-card about-card-1">
            <div class="icon-outer">
                <img src="../../assets/img/walk-line.svg">
            </div>
            <p class="paragraph padding-top-s">
                <span>MY JOURNEY BEGAN</span><br> <br>
                as a sports coach and salesman in the health sector. 
                I have worked in many different institutions and recognized 
                numerous opportunities for digitization.
            </p>
        </div>
        <div class="about-card about-card-2">
            <div class="icon-outer">
                <img src="../../assets/img/search-line.svg">
            </div>
            <p class="paragraph padding-top-s">
                <span>MY INTEREST</span><br> <br>
                in software solutions grew and I started working 
                with programs and implementing ideas for my own projects.
            </p>
        </div>
        <div class="about-card about-card-3">
            <div class="icon-outer">
                <img src="../../assets/img/heart-line.svg">
            </div>
            <p class="paragraph padding-top-s">
                <span>THE PASSION</span><br> <br>
                developed very quickly because I was 
                always very interested in logical processes and mathematics.
            </p>
        </div>
        <div class="about-card about-card-4">
            <div class="icon-outer">
                <img src="../../assets/img/flight-takeoff-line.svg">
            </div>
            <p class="paragraph padding-top-s">
                <span>MY GOAL</span><br> <br>
                is to develop and constantly optimize first-class software. 
                I want a development in line with technological advances and novelties.
            </p>
        </div>
    </div>
    

</div>
