<div class="bg-black" id="my-work">
    <div class="work padding-top-xxl padding-bottom-xxl">
        <h2 class="headline-2">MY Work</h2>
        <div class="button-box padding-top-xl padding-bottom-l">
            <button (click)="changeProjects(0, 8)" class="button-red">All</button>
            <button (click)="changeProjects(0, 2)" class="button-red">HTML/CSS</button>
            <button (click)="changeProjects(2, 8)" class="button-red">Java script</button>
        </div>
        <div class="projects-container" id="projects-container" [innerHTML]="projectsContainer">

        </div>
    </div>

</div>
