

.button-box {
    display: flex;
    justify-content: center;
    margin: 0 1rem;
    button {
        padding: 1rem 0;
        width: 8rem;
        margin: 0 0.2rem;
    }
}

.projects-container {
    width: 52rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project-element {
    width: 24rem;
    margin: 1rem;
    position: relative;
    img {
        display: block;
        width: 100%;
        height: 22rem;
        object-fit: cover;

    }
}

.project-hover-overlay {
    position: absolute;
    z-index: 1;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.747);
    &:hover {
        animation: becomeVisible 225ms ease-in-out 0s 1 normal both;
    }
    a {
        color: #FA2759;
        padding: 0.75rem 1.5rem;
        background-color: white;
    }
}

@keyframes becomeVisible {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media(max-width:70em){
    .projects-container {
        width: 44rem;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .project-element {
        width: 20rem;
        img {
            height: 18rem;
    
        }
    }
}

@media(max-width:70em){
    .work {
        padding-top: 5rem;
        padding-bottom: 0;
    }
    .button-box {
        padding-top: 2.5rem;
        padding-bottom: 1rem;
    }
}

@media(max-width:50em){
    .projects-container {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .project-element {
        width: 22rem;
        img {
            height: 20rem;
    
        }
    }
}

@media(max-width:30em){
    .project-element {
        width: 18.5rem;
        img {
            height: 17rem;
        }
    }
    .button-box {
        button {
            font-size: 1rem;
        }
    }
}