<div class="bg-black" id="contact">
    <div class="contact primary-container padding-top-xxl padding-bottom-xxl">
        <div class="contact-container">
            <h1 class="headline-1">Contact me.</h1>
            <p class="paragraph padding-top-s padding-bottom-m">
                Get in touch via the form below, or by emailing 
                <a href="">
                    max.budziat@gmx.de
                </a>
            </p>
            <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
                <div class="form-container">
                    <label  class="padding-bottom-s padding-top-s paragraph" for="name">Name</label>
                    <input 
                        required
                        type="text" 
                        name="name" 
                        id="name" 
                        placeholder="Enter your name"
                        [(ngModel)]="contact.name"
                        #name="ngModel"
                    />
                    <label class="padding-bottom-s padding-top-s paragraph" for="email">Email address</label>
                    <input 
                        type="email" 
                        name="email" 
                        id="email" 
                        placeholder="Enter your Email address"
                        [(ngModel)]="contact.email"
                        #email="ngModel"
                    />
                    <label class="padding-bottom-s padding-top-s paragraph" for="text">Message</label>
                    <textarea 
                        required
                        name="message" 
                        id="text" 
                        placeholder="Enter your message"
                        [(ngModel)]="contact.message"
                        #message="ngModel"
                    >
                    </textarea>
                    <div>
                        <button type="submit" class="button-green paragraph">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


