<div class="bg-black">
    <div class="contact primary-container padding-top-xxl padding-bottom-xxl">
        <div class="contact-container">
            <h1 class="headline-1">Contact me.</h1>
            <p class="paragraph padding-top-s padding-bottom-m">
                Get in touch via the form below, or by emailing 
                <a href="">
                    max.budziat@gmx.de
                </a>
            </p>
            <form action="">
                <div class="form-container">
                    <label class="padding-bottom-s padding-top-s paragraph" for="name">Name</label>
                    <input type="text" name="name" id="name" placeholder="Enter your name">
                    <label class="padding-bottom-s padding-top-s paragraph" for="email">Email address</label>
                    <input type="email" name="email" id="email" placeholder="Enter your Email address">
                    <label class="padding-bottom-s padding-top-s paragraph" for="message">Message</label>
                    <textarea name="message" id="message" placeholder="Enter your message"></textarea>
                    <div>
                        <button class="button-green paragraph">Send</button>
                    </div>
                </div>
                
            </form>

        </div>
        
    </div>
</div>


