

.skill-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36rem;
    margin: 0 auto;
    flex-wrap: wrap;
}

.skill-card-element {
    background-color: white;
    width: 10rem;
    height: 6.5rem;
    margin: 2rem 1rem;
    border-radius: 0.25rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    div {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
        top: -1.5rem;
        border-radius: 50%;
        background-color: white;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    img {
        height: 1.5rem;
    }
}