

.skill-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36rem;
    margin: 0 auto;
    flex-wrap: wrap;
}

.skill-card-element {
    background-color: white;
    transform: translateX(- 5rem);
    opacity: 0;
    width: 10rem;
    height: 6.5rem;
    margin: 2rem 1rem;
    border-radius: 0.25rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    div {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
        top: -1.5rem;
        border-radius: 50%;
        background-color: white;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    img {
        height: 1.5rem;
    }
}
/*
@media (prefers-reduced-motion: no-preference) {
    .skill-card-animation {
        animation: flyIn 600ms ease-in-out 0s 1 normal forwards;
    }
}
*/


@media(max-width:75em) {
    .skills {
        padding-bottom: 3.75rem;
        padding-top: 0;
    }
}

@media(max-width:60em) {
    .skill-cards {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30rem;
        margin: 0 auto;
        
    }
    .skill-card-element {
        width: 8rem;
        height: 5.5rem;
        margin: 2rem 0.75rem;
    }
    p {
        padding: 0.75rem 0.25rem 0rem 0.25rem;
    }
}

@media(max-width:35em){

    .skill-cards {
        width: 21rem;
    }
    .skill-card-element {
        width: 6rem;
        height: 4.5rem;
        margin: 1.5rem 0.5rem;
        div {
            width: 2rem;
            height: 2rem;
            top: -1rem;
        }
        img {
            height: 1rem;
        }
        p {
            font-size: 1rem;
            padding: 0.6rem 0.25rem 0rem 0.25rem;
        }
    }
}

@media(max-width: 25em){
    .skill-cards {
        width: 18.75rem;
    }
    .skill-card-element {
        width: 5.75rem;
        height: 4rem;
        margin: 1rem 0.25rem;
        div {
            width: 2rem;
            height: 2rem;
            top: -1rem;
        }
        img {
            height: 1rem;
        }
        
    }
}