* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.primary-container {
    padding-left: 12.5rem;
    padding-right: 12.5rem;
    max-width: 100rem;
    margin: 0 auto;
}

@media(max-width:75em){
    .primary-container {
        padding-left: 7.5rem;
        padding-right: 7.5rem;
    }
}
@media(max-width:70em){
    .primary-container {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}
@media(max-width:60em){
    .primary-container {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
}
@media(max-width:35em){
    .primary-container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.headline-1 {
    font-size: 3rem;
    font-weight: 500;
    margin: 0;
}

.headline-2 {
    font-size: 2.25rem;
    font-weight: 400;
    color: white;
    margin: 0;
    text-align: center;
}

.paragraph {
    font-size: 1.125rem;
    margin: 0;
}

.bg-primary {
    background-color: #FA2759;
}

.color-primary {
    color: #FA2759;
}

.bg-secondary {
    background-color: #2DFCD8;
}

.color-secondary {
    color: #2DFCD8;
}

.bg-grey {
    background-color: #1A1A1A;
}

.bg-black {
    background-color: #000000;
}

.button-green {
    color: #2DFCD8;
    border: 1px solid #2DFCD8;
    font-size: 1.125rem;
    background-color: transparent;
    cursor: pointer;
    transition: 200ms ease-in-out;
    &:hover {
        background-color: #2DFCD8;
        color: white;
    }
    &:active {
        opacity: 0.6;
    }
}

.button-red {
    color: white;
    border: 1px solid #FA2759;
    font-size: 1.125rem;
    background-color: transparent;
    cursor: pointer;
    transition: 200ms ease-in-out;
    &:hover {
        background-color: #FA2759;
        color: white;
    }
    &:active {
        opacity: 0.6;
    }
}

.button-red-active {
    background-color: #FA2759;
    color: white;
}

.pulse {
    animation: pulse-animation 2s 2s infinite;
}
  
@keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
    }
    100% {
      box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    }
}

.becomeVisible{
    animation: becomeVisible 600ms ease-in-out 0s 1 normal forwards;
}

@keyframes becomeVisible {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.becomeVisibleLighter{
    animation: becomeVisibleLighter 3000ms ease-in-out 0s 1 normal forwards;
}

@keyframes becomeVisibleLighter {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.6;
    }
}

.inactive{
    display: block;
}

.flyInLeft {
    animation: flyInLeft 800ms ease-in-out 0s 1 normal forwards;
}

.flyInLeftLater {
    animation: flyInLeft 800ms ease-in-out 0.5s 1 normal forwards;
}

.flyInRight {
    animation: flyInRight 800ms ease-in-out 0s 1 normal forwards;
}

.flyInRightLater {
    animation: flyInRight 800ms ease-in-out 0.5s 1 normal forwards;
}

@keyframes flyInLeft {
    0% {
        transform: translateX(- 7.5rem);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes flyInRight {
    0% {
        transform: translateX(+ 7.5rem);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.padding-top-xs {
    padding-top: 0.75rem;
}

.padding-top-s {
    padding-top: 1.5rem;
}

.padding-top-l {
    padding-top: 2.5rem;
}

.padding-top-m {
    padding-top: 3.375rem;
}

.padding-top-xl {
    padding-top: 3.75rem;
}

.padding-top-xxl {
    padding-top: 6.5625rem;
}

.padding-bottom-xs {
    padding-bottom: 0.75rem;
}

.padding-bottom-s {
    padding-bottom: 1.5rem;
}

.padding-bottom-l {
    padding-bottom: 2.5rem;
}

.padding-bottom-m {
    padding-bottom: 3.375rem;
}

.padding-bottom-xl {
    padding-bottom: 3.75rem;
}

.padding-bottom-xxl {
    padding-bottom: 6.5625rem;
}

@media(max-width: 75em){
    .headline-1 {
        font-size: 3rem;
        font-weight: 500;
    }
    .bg-black {
        background-color: #1A1A1A;
    }
}

@media(max-width: 30em){
    .headline-1 {
        font-size: 2.1rem;
    }
    .headline-2 {
        font-size: 2.1rem;
    }
}



